/* Загальні стилі */
* {
    запас: 0;
    відступ: 0;
    box-sizing: border-box;
}

тіло {
    сімейство шрифтів: Arial, sans-serif;
    колір фону: #1a1a1a;
    колір: #fff;
    висота лінії: 1,6;
}

a {
    текст-оздоблення: немає;
    колір: #fff;
}

заголовок {
    колір фону: #3e0a45;
    відступ: 20 пікселів;
    вирівнювання тексту: центр;
}

заголовок .logo h1 {
    розмір шрифту: 2em;
    margin-bottom: 10px;
}

корабель
    стиль списку: немає;
    дисплей: гнучкий;
    justify-content: центр;
    проміжок: 20px;
}

їхній корабель
    розмір шрифту: 1.2em;
    перехід: колір 0,3 с легкість;
}

nav ul li a:hover {
    колір: #e20080;
}

/* Продукти */
.products {
    дисплей: гнучкий;
    justify-content: space-around;
    flex-wrap: обгортання;
    відступ: 40 пікселів;
}

.product-card {
    колір тла: #2e2e2e;
    border-radius: 10px;
    перелив: прихований;
    ширина: 200 пікселів;
    margin-bottom: 20px;
    вирівнювання тексту: центр;
    перехід: трансформація 0,3 с легкість;
}

.product-card:hover {
    перетворення: translateY(-10px);
}

.product-card img {
    ширина: 100%;
    висота: 200 пікселів;
    об'єкт-підгонка: обкладинка;
    border-bottom: 2px суцільний #3e0a45;
}

.product-card h2 {
    колір: #e20080;
    розмір шрифту: 1.4em;
    поле: 10px 0;
}

.product-card p {
    розмір шрифту: 1.2em;
    поле: 5px 0;
}

.add-to-cart {
    колір фону: #3e0a45;
    колір: #fff;
    відступ: 10 пікселів;
    межа: немає;
    border-radius: 5px;
    курсор: покажчик;
    розмір шрифту: 1em;
    перехід: фоновий колір 0,3 с легкість;
}

.add-to-cart:hover {
    колір фону: #e20080;
}

/* Анімація */
.add-to-cart {
    анімація: пульс 1с нескінченний;
}

@keyframes pulse {
    0% {
        перетворення: scale(1);
    }
    50% {
        перетворення: scale(1.1);
    }
    100% {
        перетворення: scale(1);
    }
}